#Ignore reports, pngs, traces files
dag.png
trace*
.nextflow*
work/

# MISC
TODO.md
CMD.sh

#ignore logs
logs/

#ignore test and tmp files
test/
tmp/

#envs
envs/*simg
envs/*sif
.venv/
venv/
envs/requirements.txt


#python chace
bin/__pycache__/
bin/sentieon_init.sh
sentieon.nf
create_pgx_samplesheet.sh


