/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.args4           = fourth set of arguments appended to command in module (multi-tool modules).
        ext.args5           = fifth set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
        ext.suffix          = File name suffix for output files.
        ext.suffix2         = File name suffix for output2 files.
        ext.when            = Conditional clause
----------------------------------------------------------------------------------------
*/

process {

    withName: '.*COVERAGE:DEPTH_OF_TARGETS' {
        container = "${params.container_dir}/gatk3.simg"

        publishDir = [ 
            path: "${params.outdir}/${params.subdir}/coverage/",
            mode: 'copy',
            overwrite: true,
            pattern: "*.gdf"
        ]

        ext.args    = { " -allowPotentiallyMisencodedQuals -R ${params.genome_file} -L ${params.target_rsid_intervals} "}
        ext.prefix  = { "${meta.group}" }
    }

    withName: '.*:COVERAGE:DEPTH_OF_BAITS' {
        container = "${params.container_dir}/gatk3.simg"

        publishDir = [ 
            path: "${params.outdir}/${params.subdir}/coverage/gdf/",
            mode: 'copy',
            overwrite: true,
            pattern: "*.gdf"
        ]

        ext.args    = { " -allowPotentiallyMisencodedQuals -R ${params.genome_file} -L ${ params.padded_target_intervals }"}
        ext.prefix  = { "${meta.group}" }
    }

    withName: '.*:COVERAGE:APPEND_ID_TO_GDF' {
        container = "${params.container_dir}/target_variants_python.simg"

        publishDir = [ 
            path: "${params.outdir}/${params.subdir}/coverage/",
            mode: 'copy',
            overwrite: true,
            pattern: "*.gdf"
        ]

        ext.args    = { " --target_bed=${params.target_rsid} --addchr ${params.addchr} "}
        ext.prefix  = { "${meta.group}" }
    }
}