params {
    clinical_guidelines = "/data/bnf/dev/ram/Pipelines/DSL2/PGxModule/resources/guidelines/clinical_guidelines.csv"
    haplotype_activity = "/data/bnf/dev/ram/Pipelines/DSL2/PGxModule/resources/guidelines/haplotype_activity_score.csv"
    interacting_guidelines = "/data/bnf/dev/ram/Pipelines/DSL2/PGxModule/resources/guidelines/interaction_guidelines.csv"
    haplotype_definitions = "/data/bnf/dev/ram/Pipelines/DSL2/PGxModule/resources/haplotypes/haplotype_definitions.csv"
    hidden_haplotypes = "/data/bnf/dev/ram/Pipelines/DSL2/PGxModule/resources/haplotypes/hidden_haplotpyes.csv"
    pgx_target_regions = "/data/bnf/dev/ram/Pipelines/DSL2/PGxModule/resources/genomic_regions/HG38/exons_variants_pharmacogenomics_18_06_2019_ex_cyp2d6_hg38.bed"
    pgx_target_rsid = "/data/bnf/dev/ram/Pipelines/DSL2/PGxModule/resources/genomic_regions/HG38/target_rsid_hg38.bed"
    containers = "/data/bnf/dev/ram/Pipelines/DSL2/PGxModule/envs"
    scripts = "/data/bnf/dev/ram/Pipelines/DSL2/PGxModule/bin"
}