params {
    clinical_guidelines = "/fs1/ram/Pipelines/DSL2/PGxModule/resources/guidelines/clinical_guidelines.csv"
    haplotype_activity = "/fs1/ram/Pipelines/DSL2/PGxModule/resources/guidelines/haplotype_activity_score.csv"
    interacting_guidelines = "/fs1/ram/Pipelines/DSL2/PGxModule/resources/guidelines/interaction_guidelines.csv"
    haplotype_definitions = "/fs1/ram/Pipelines/DSL2/PGxModule/resources/haplotypes/haplotype_definitions.csv"
    hidden_haplotypes = "/fs1/ram/Pipelines/DSL2/PGxModule/resources/haplotypes/hidden_haplotpyes.csv"
    pgx_target_regions = "/fs1/ram/Pipelines/DSL2/PGxModule/resources/HG19/genomic_regions/exons_variants_pharmacogenomics_18_06_2019_ex_cyp2d6_HG19.bed"
    pgx_target_rsid = "/fs1/ram/Pipelines/DSL2/PGxModule/resources/HG19/genomic_regions/target_rsid_HG19.bed"
    containers = "/fs1/ram/Pipelines/DSL2/PGxModule/envs"
    scripts = "/fs1/ram/Pipelines/DSL2/PGxModule/bin"
    pgx_resources = "/fs1/ram/Pipelines/DSL2/PGxModule/resources/HG19/"
    padding = 100
}